
<nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
              <ul class="nav navbar-nav">
                <%= render :partial => "/insurance_types/header_insurance_type" ,locals: {parents: @insurance_types}%>
                <li><a href="#contact">Health</a></li>
                <li><a href="#contact">Life</a></li>
                <li><a href="#contact">Travel</a></li>
                <li><a href="#contact">Investments</a></li>
                <li><a href="#contact">Claims</a></li>
                <li><a href="#contact">Customer Service</a></li>                                                                                                                                           
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="sliderdiv">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/assets/slider.jpg" alt="...">
            </div>
            <div class="item">
              <img src="/assets/slider.jpg" alt="...">
            </div>
          </div>
        
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        <div class="tabdiv">
          	<div class="container">
            	<div class="row">
                	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div>
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">Car</a></li>
                                <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab">Two Wheeler</a></li>
                                <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab">Health</a></li>
                                <li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab">Life</a></li>
                                <li role="presentation"><a href="#five" aria-controls="five" role="tab" data-toggle="tab">Travel</a></li>
                                <li role="presentation"><a href="#six" aria-controls="six" role="tab" data-toggle="tab">Investment</a></li>
                              </ul>
                            
                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="one">
                                 <form class="form-horizontal">
                                 <div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
                                 <div class="form-group">
                                 <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Renew
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> New Insurance
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Policy Already Expired
                                </label>
                                </div>
                                </div>
                                  <div class="form-group">
                                    <label for="Vehicle No" class="col-sm-4 control-label">Vehicle No</label>
                                    <div class="col-lg-7 col-sm-8">
                                      <input type="email" class="form-control" id="inputEmail3" placeholder="">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="Date of registration" class="col-sm-4 control-label">Date of registration</label>
                                   <div class="col-lg-7 col-sm-8">
                                      <input type="email" class="form-control" id="inputEmail3" placeholder="">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="Manufacturer" class="col-sm-4 control-label">Manufacturer</label>
                                    <div class="col-lg-7 col-sm-8">
                                      <select class="form-control">
                                      <option>First Entry</option>
                                      <option>First Entry</option>
                                      <option>First Entry</option>
                                      <option>First Entry</option>
                                      <option>First Entry</option>
                                    </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="Model" class="col-sm-4 control-label">Model</label>
                                    <div class="col-lg-7 col-sm-8">
                                      <select class="form-control">
                                          <option>First Entry</option>
                                          <option>First Entry</option>
                                          <option>First Entry</option>
                                          <option>First Entry</option>
                                          <option>First Entry</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="Mobile No" class="col-sm-4 control-label">Mobile No</label>
                                    <div class="col-lg-7 col-sm-8">
                                      <input type="email" class="form-control" id="inputEmail3" placeholder="">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="Email ID" class="col-sm-4 control-label">Email ID</label>
                                    <div class="col-lg-7 col-sm-8">
                                      <input type="email" class="form-control" id="inputEmail3" placeholder="">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-offset-4 col-lg-7 col-sm-8">
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox"> I agree to the <a href="#">Term</a> and <a href="#">Conditions</a>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-offset-4 col-lg-7 col-sm-8">
                                      <button type="submit" class="btn blue-btn">GET A FREE QUOTE</button>
                                    </div>
                                  </div>
                                </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="two">222</div>
                                <div role="tabpanel" class="tab-pane" id="three">333</div>
                                <div role="tabpanel" class="tab-pane" id="four">444</div>
                                 <div role="tabpanel" class="tab-pane" id="five">555</div>
                                 <div role="tabpanel" class="tab-pane" id="six">666</div>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
          </div>
        
        </div>
        
        <div class="welcome text-center">
        	<div class="container">
            	<h1>HELLO THERE!</h1>
                LIQUAM RHONCUS, LIBERO NON CONGUE ULTRI <br>NTERDUM VELIT QUAM SED NISI. 
            </div>     	
        </div>
        
        <div class="services text-center">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="boxlink">
                    	<div class="box">
                        	<div class="glyph-icon flaticon-sedan4"></div>
                            <p>Motor<br>Insurance</p>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="boxlink">
                    	<div class="box">
                        	<div class="glyph-icon flaticon-heart258"></div>
                            <p>Health<br>Insurance</p>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="boxlink">
                    	<div class="box">
                        	<div class="glyph-icon flaticon-airplane73"></div>
                             <p>Travel<br>Insurance</p>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    	<a href="#" class="boxlink">
                    	<div class="box">
                        	<div class="glyph-icon flaticon-family26"></div>
                            <p>Life<br>Insurance</p>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="boxlink">
                    	<div class="box">
                        	<div class="glyph-icon flaticon-baggage26"></div>
                            <p>Claim<br>Settlement</p>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="boxlink">
                    	<div class="box">
                        	<div class="glyph-icon flaticon-clerks"></div>
                            <p>Customer <br>Service</p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>     	
        </div>
        
        <div class="testimonial">
    
    	<div class="container">
        
        <h2>What people say about us</h2>
        	<div data-ride="carousel" class="carousel slide" id="carousel-example-generic2">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="" data-slide-to="0" data-target="#carousel-example-generic2"></li>
    <li data-slide-to="1" data-target="#carousel-example-generic2" class="active"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div role="listbox" class="carousel-inner">
    <div class="item">
      <div class="carousel-caption2">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ipsum lectus. Fusce fringilla velit et rhoncus ornare. Nam tincidunt lorem a fringilla vehicula. Nulla facilisi. Mauris commodo malesuada tristique. Sed vel vestibulum sapien. Nulla velit elit, suscipit nec velit vel, luctus pharetra sapien. Aliquam aliquet aliquet nisl nec porttitor. Vestibulum non commodo tortor. Sed varius arcu sem, vel euismod neque posuere sit amet. Curabitur sapien magna, volutpat non mi tempus, aliquet vulputate dui. Mauris in pellentesque enim. 
      </div>
      <div class="user"><img alt="" src="/assets/user.jpg"></div>
    </div>
    <div class="item active">
      <div class="carousel-caption2">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ipsum lectus. Fusce fringilla velit et rhoncus ornare. Nam tincidunt lorem a fringilla vehicula. Nulla facilisi. Mauris commodo malesuada tristique. Sed vel vestibulum sapien. Nulla velit elit, suscipit nec velit vel, luctus pharetra sapien. Aliquam aliquet aliquet nisl nec porttitor. Vestibulum non commodo tortor. Sed varius arcu sem, vel euismod neque posuere sit amet. Curabitur sapien magna, volutpat non mi tempus, aliquet vulputate dui. Mauris in pellentesque enim. 
      </div>
      <div class="user"><img alt="" src="/assets/user.jpg"></div>
    </div>
  </div>

  <!-- Controls -->
  
</div>
        </div>
    </div>
    
    <div class="social">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                	<h2>Tweets</h2>
                    
                    <div id="myCarousel" class="vertical-slider carousel vertical slide" data-ride="carousel">
                    <span data-slide="next" class="btn-vertical-slider glyphicon glyphicon-chevron-up" style="font-size:20px; color:#18a900"></span>  
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item  active">
                <a href="#"> <img src="/assets/tweet.jpg" class="thumbnail"alt="Image" /></a>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
                <div class="item ">
                <a href="#"> <img src="/assets/tweet.jpg" class="thumbnail"alt="Image" /></a>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
                <div class="item ">
                <a href="#"> <img src="/assets/tweet.jpg" class="thumbnail"alt="Image" /></a>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
            </div>
			<span data-slide="prev" class="btn-vertical-slider glyphicon glyphicon-chevron-down" style="color:#18a900; font-size:20px"></span>

        </div>
</div>

                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                	<h2>RSS Feed</h2>
                    <div id="myCarousel2" class="vertical-slider carousel vertical slide" data-ride="carousel">
                    <span data-slide2="next" class="btn-vertical-slider glyphicon glyphicon-chevron-up" style="font-size:20px; color:#18a900"></span>  
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item  active">
                <a href="#"> <img src="/assets/rss.jpg" class="thumbnail"alt="Image" /></a>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
                <div class="item ">
                <a href="#"> <img src="/assets/rss.jpg" class="thumbnail"alt="Image" /></a>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
                <div class="item ">
                <a href="#"> <img src="/assets/rss.jpg" class="thumbnail"alt="Image" /></a>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
            </div>
			<span data-slide2="prev" class="btn-vertical-slider glyphicon glyphicon-chevron-down" style="color:#18a900; font-size:20px"></span>

        </div>
                </div>
                
            </div>
        </div>
    </div>