    <div>
      <label>Code Number</label>
      <div>
        <%= f.text_field :code_number , value: @user.agent_detail.code_number %>
      </div>
    </div>
    <div>
      <label>Address</label>
      <div>
        <%= f.text_area :address , value: @user.agent_detail.try(:address) %>
      </div>
    </div>
    <div>
      <label>Contact Number</label>
      <div>
        <%= f.text_field :contact_number ,value: @user.agent_detail.try(:contact_number) %>
      </div>
    </div>
    <div>
      <label> designation</label>
      <div>
        <%= f.text_field :designation ,value: @user.agent_detail.try(:designation) %>
      </div>
    </div>
